{% extends 'base.html.twig' %}

{% block title %}Manual Capture - Error Explorer Symfony Demo{% endblock %}

{% block body %}
<h2>Manual Capture Test</h2>
<p>Exceptions and messages have been manually captured.</p>

<h3>Captured Exception</h3>
<table>
    <tr>
        <td>Event ID</td>
        <td><code>{{ exception_event_id ?? 'null' }}</code></td>
    </tr>
    <tr>
        <td>Type</td>
        <td>InvalidArgumentException (manually caught)</td>
    </tr>
</table>

<h3>Captured Message</h3>
<table>
    <tr>
        <td>Event ID</td>
        <td><code>{{ message_event_id ?? 'null' }}</code></td>
    </tr>
    <tr>
        <td>Level</td>
        <td>warning</td>
    </tr>
</table>

<p>Both have been sent to Error Explorer.</p>
{% endblock %}
